body {
  margin-bottom: 2em;
}

header {
  margin-bottom: 1em;
}

.btn {
  text-transform: capitalize;
}

header .btn {
  margin-left: 20px;
  margin-top: 20px;
}

ul, li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

.btn-destroy:hover,
.btn-destroy:focus {
  text-decoration: underline;
}

[role=banner] h1 a {
  color: #333;
}

[role=banner] h1 a:hover,
[role=banner] h1 a:focus {
  text-decoration: none;
}

/* Minimal styles for displaying floorplans */
.floorplan {
  border-top: 1px solid #ddd;
  padding: 8px;
}

.floorplan:nth-child(odd) {
  background-color: #f9f9f9;
}
.floorplan-heading,
.floorplan-heading p,
.floorplan-heading a,
.floorplan-info,
.floorplan-info > div,
.floorplan-beds p,
.floorplan-rent p {
  float: left;
  margin-right: 20px;
}


/* Show only floorplan info */
.e-content h2,
.e-content h3,
.e-content #filters {
  display: none;
}

.e-content {
  margin-top: 3em;
}