<h2>Edit Location</h2>

<div class="well">
  <%= render 'form' %>
</div>

<header class="clearfix">
  <h2 class="pull-left">Edit Floor Plans</h2>
  <%= link_to 'New Floorplan', new_location_floor_plan_path(@location), class: "btn btn-success pull-right" %>
</header>

<% @floor_plans.each do |floor_plan| %>
  <%= render 'floor_plans/form', {floor_plan: floor_plan, location: @location} %>
<% end %>
