<h2>Edit Location</h2>

<div class="well">
  <%= render 'form' %>
</div>

<header class="clearfix">
  <h2 class="pull-left">Edit Units</h2>
  <%= link_to 'New Unit', new_location_unit_path(@location), class: "btn btn-success pull-right" %>
</header>
<% @units.each do |unit| %>
  <%= render 'units/form', {unit: unit, location: @location} %>
<% end %>
