<h2>Edit Location</h2>

<div class="well">
  <%= render 'form' %>
</div>

<header class="clearfix">
  <h2 class="pull-left">Edit Floor Plans</h2>
  <%= link_to 'New Floorplan', new_location_floorplan_path(@location), class: "btn btn-success pull-right" %>
</header>
<% @floorplans.each do |floorplan| %>
  <%= render 'floorplans/form', {floorplan: floorplan, location: @location} %>
<% end %>
